* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media all and (max-width: 1000px) {
    .container h1 {
        font-size: 1rem;
    }

    .container p {
        font-size: 0.8rem;
    }

    .container h3 {
        font-size: 1.2rem;
    }

    .container .btn {
        font-size: 0.8rem;
    }

    .container .section-2 .col-md-4 form {
        width: 200px;
        margin: auto;

    }

    .container .section-2 .col-md-4 form input {
        font-size: 0.8rem;
    }

    .container .section-2 .col-md-4 form .btn {
        font-size: 0.8rem;
    }
}


.none {
    text-decoration: none;
}

.none2 {
    width: 448px;
    height: 448px;
}



* {
    margin: 0;
    padding: 0;
}

.container header .container-fluid {
    border-bottom: 1px solid powderblue;
}

.container header .navbar .container-fluid .collapse .navbar-nav .nav-item:nth-child(1) {
    border-bottom: 1px solid rgb(0, 153, 255);
}


.container footer .footer-foot {

    background-image: linear-gradient(to bottom, rgb(40, 116, 247), rgb(16, 26, 218));
    ;
    color: white;

    background-color: liner-gradient;
}

@media all and (max-width: 1000px) {
    .container .section-1 .col-md-12 .row .col-md-5 .row .col-md-4:nth-child(2) {
        margin-top: 10px;
    }

    .container .section-1 {
        margin-top: -30px;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 {
        margin-top: 20px;
    }
}

.container footer .footer-body {
    background-color: aliceblue;
}


@media all and (max-width: 1000px) {
    .container footer .footer-body .col-md-12 .row {
        gap: 10px;
        margin-right: 20px;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 {
        width: 70px;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 img {
        width: 40px;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 p {
        font-size: 0.7rem;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 {
        width: 70px;
    }

    .container footer .footer-body .col-md-12 .row .col-md-3 h5 {
        font-size: 0.8rem;
    }


    .container footer .footer-body .col-md-12 .row .col-md-3 p {
        font-size: 0.6rem;
    }


    .container footer .footer-foot .col-md-12 .row .col-md-4 .row{
        display: flex;
        justify-content: center;
    }

    .container footer .footer-foot .col-md-12 .row .col-md-4 .row .col-md-2{
        width: 40px;
        margin-top: -40px;
        
    }

    
    .container footer .footer-foot .col-md-12 .row .col-md-4 .row .col-md-3{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}