
*{
    margin: 0;
    padding: 0;
}

.container header .container-fluid{
    border-bottom: 1px solid powderblue;
}

.container header .navbar .container-fluid .collapse .navbar-nav .nav-item:nth-child(1){
    border-bottom: 1px solid rgb(0, 153, 255);
}


.container footer .footer-foot {

  background-image: linear-gradient(to bottom,rgb(40, 116, 247), rgb(16, 26, 218));;
  color: white;

    background-color: liner-gradient;
}

@media all and (max-width: 1000px){
    .container .section-1 .col-md-12 .row .col-md-5 .row .col-md-4:nth-child(2){
        margin-top: 10px;
    }
    .container .section-1{
        margin-top: -30px;
    }
}